<section class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "My Gallery" %></h2>
  Hey there, Thank you for stopping by. The sight is still under construction so expect to see a lot of exciting stuff. Especially if you're an art lover.
  we're also still working on a better name.
</section>

