<h1>Our Artists</h1>
<table>
<tr>
    <td>Id</td>
    <td>Username</td>
    <td>Phone Number</td>
    <td>Location</td>
</tr>
<%= for artist <- @artists do %>
<tr>
    <td><%= artist.id %></td>
    <td><%= artist.username %></td>
    <td><%= artist.phone_number %></td>
    <td><%= artist.location%></td>
    <td><%=link "view", to: Routes.artist_path(@conn, :show, artist.id)%></td>
</tr>
<% end %>
</table>