<h1>Our Artists</h1>
<table>
<tr>
    <td>Number</td>
    <td>Username</td>
    <td>Phone Number</td>
    <td>Location</td>
</tr>
<%= for artist <- @artists do %>
<tr>
    <td><%= artist.id %></td>
    <td><%= artist.first_name %></td>
    <td><%= artist.phone_number %></td>
    <td><%= artist.location%></td>
</tr>
<% end %>
</table>