<h4>Artist <%= @artist.id %></h4>
<table>
<tr>    
    <td>Username</td>
    <td>Phone Number</td>
    <td>Location</td>
</tr>
<tr>  
    <td><%= @artist.credential.username %></td>
    <td><%= @artist.phone_number %></td>
    <td><%= @artist.location%></td>
    <td><%=link "delete", to: Routes.artist_path(@conn, :delete, @artist.id), method: "delete", data: [confirm: "Are sure?"]%></td>
     <td><%=link "edit", to: Routes.artist_path(@conn, :edit, @artist)%></td>
</tr>
</table>

